<span class="current"><%=state.position%></span>
<div class="bar">
  <div class="duration-bar"></div>
  <div class="bar-filled" style="width: <%=state.percent%>"></div>
  <div class="pointer" style="left: <%=state.percent%>; display: <%=state.display%>"></div>
</div>
<span class="end"><%=state.length%></span>